<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/productUpsert.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PhotoUploader.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PhotoSlider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LightBox.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ExtraTopicUploader.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebShop.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="User" asp-controller="ProductBrowser" asp-action="Index">WebShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
                    <ul class="navbar-nav mi-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item d-flex align-items-center justify-content-center border border-primary rounded border-2 p-1
                                       order-0 order-lg-last mt-3 mt-lg-0">
                                <partial name="_CartPartial" />
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="User" asp-controller="ProductBrowser" asp-action="Index">Browse Products</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                 <a class="nav-link text-dark" asp-area="User" asp-controller="Order" asp-action="Index">Orders</a>
                            </li>
                        }

                        @if (User.IsInRole(IdentityRoleNames.AdminRole) || User.IsInRole(IdentityRoleNames.HeadAdminRole) || User.IsInRole(IdentityRoleNames.TestAdmin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Content Management
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="Product" asp-action="Index">Products</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="Carrier" asp-action="Index">Carriers</a></li>
                                    <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="WebshopSettings" asp-action="Update">Settings</a></li>
                                    @if (User.IsInRole(IdentityRoleNames.HeadAdminRole) || User.IsInRole(IdentityRoleNames.TestAdmin))
                                    {

                                    }
                                        <li><a class="nav-link text-dark" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a></li>
                                    </ul>
                            </li>
                        }
                    </ul>
                    <partial name="_loginPartial" />
                </div>
            </div>
        </nav>

    </header>
    <div class="">
        <main role="main" class="pb-3 d-flex justify-content-center">
            <partial name="_NotyficationPartial">
                @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - WebShop - <a asp-area="" asp-controller="ProductBrowser" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tiny.cloud/1/xwhn5sl5nlzrep7giqfdg32ktdu31rywzvjlov1le9n1epyy/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <script>
        if (window.location.hash === '#_=_') {
            history.replaceState(null, null, window.location.href.split('#')[0]);
            window.location.reload(); // Force full reload so authentication shows up
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
