@model Models.ViewModels.OrderVM

<div class="container">
    <div class="card shadow-lg mt-4 mx-auto p-4" style="width: 100%;">

        <div class="card-header mb-4 bg-primary text-white">
            <h2 class="mb-0 text-center p-2">Orders</h2>
        </div>

        <div class="container border border-primary rounded p-3">
            <form method="get" class="form-group mb-3">
                <div class="d-flex justify-content-center mb-3">
                    <div class="btn-group" role="group" aria-label="Order Status Filter">
                        <input type="radio" class="btn-check" name="orderStatus" id="statusAll" value="All" checked>
                        <label class="btn btn-outline-primary" for="statusAll">All</label>

                        <input type="radio" class="btn-check" name="orderStatus" id="statusAwaitingPayment" value="AwaitingPayment">
                        <label class="btn btn-outline-primary" for="statusAwaitingPayment">Awaiting Payment</label>


                        <input type="radio" class="btn-check" name="orderStatus" id="statusPaymentConfirmed" value="PaymentConfirmed">
                        <label class="btn btn-outline-primary" for="statusPaymentConfirmed">Payment Confirmed </label>


                        <input type="radio" class="btn-check" name="orderStatus" id="statusProcessing" value="Processing">
                        <label class="btn btn-outline-primary" for="statusProcessing">Processing</label>

                        <input type="radio" class="btn-check" name="orderStatus" id="statusSent" value="Shipped">
                        <label class="btn btn-outline-primary" for="statusSent">Shipped</label>
                    </div>
                </div>
            </form>

            <div class="table-responsive mt-4">
                <table id="tblOrders" class="table table-bordered table-striped mb-3">
                    <thead class="text-center">
                        <tr>
                            <th>Order ID</th>
                            <th>User Name</th>
                            <th>Order Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/orderIndex.js"></script>
}
