@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Email Confirmation Sent";
}

<div class="alert alert-success">
    <p>
        A confirmation link has been sent to your email address.
    </p>
    <p>
        Please check your inbox and click the link to activate your account.
    </p>
</div>